<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/doctors/add" method="post">
        {%csrf_token%} 
        <label for="">Doctor name</label>
        <input type="text" name="doctor_name">
        <label for="">Specialization</label>
        <textarea type="text" name="specialization"></textarea>
        <button type="submit">Add</button>
    </form>
</body>
</html>