{%extends 'master.html'%}
{%block maincontent%}
{%load static%}
    
    <div style="padding-top: 1rem;">
        <h1><h1 style="text-align: center;text-transform: uppercase;background: lightgreen;margin-top: 4rem;padding: 7px;">Eye Care</h1>
    </div>

    <h3 style="font-size: 2rem;margin-left: 3rem;margin-top: 3rem;">Overview</h3>

    <div  style="display: flex;">
        <p style="font-size: 1.3rem;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding: 2rem;">We at Max Hospital deliver advanced eye care and specialize in eye surgery in India. We have the pioneering technology and highly experienced team of doctors who aim at quick and best recovery of our patients. <br><br>Be it surgical or non-surgical treatment options; we offer the best of them at our facility. Till now, we have helped hundreds of people to cherish their dreams of sight. <br><br><span style="font-weight: bold;">Eye Disorders and Diseases</span><br><br> There area several eye diseases that can cause serious vision troubles. <br><br>
            Cataract leads to the formation of the dense and cloudy area in one or both eyes. As it develops slowly, this condition makes it difficult for the person to see clearly. Common symptoms a person may experience due to cataract are clouded and dim vision, sensitivity to glare, seeing halos around the lights, double vision, and fading of colors. <br><br>Glaucoma is a disease that can damage the optic nerve and lead to permanent vision loss, if left untreated. In most cases has no symptoms other than gradual loss of vision, it is difficult to self-diagnose it. Hence, it is important that people must get their eye checkup done from an eye hospital in India whenever they experience trouble in vision or Every 1 – 2 years after the age of 40. We can diagnose Glaucoma with advance equipments like OCT, Perimetery, Pachymetry. Treatment with medications or advance surgery. <br><br>
            Also known as pink eye, this disease is caused by a bacteria or virus leading to inflammation of the inner eyelid and the outer membrane of the eyeball. Its symptoms include redness, irritation, tearing, and discharge in or around the eyes. At Max Healthcare, we offer the best eye treatment for conjunctivitis while keeping in mind the patient’s present health condition.
            
        </ul></span></p>

        <img src="{% static 'Icons/eye1.png'%}"  class="logo" width="300px" height="300px" style="padding: 4rem;">

    </div>


{%endblock maincontent%}